# **Conversão das variáveis categórias para numéricas**

In [145]:
import numpy as np
import pandas as pd

In [146]:
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)

In [147]:
df = pd.read_csv('./survey_results_salary_log.csv', sep=',', encoding='utf-8')
df.head()

,Unnamed: 0.1,Unnamed: 0,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,Currency,GrossWage,WageFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessionalUse,OpSysPersonalUse,VersionControlSystem,VCInteraction,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,SOVisitFreq,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,ICorPM,WorkExp,TimeSearching,TimeAnswering,ProfessionalTech,YearlyWageInDollar,YearsCodeNumber,YearsCodeProNumber
0,0,2,3,part_dev,employed_full_time,hybrid,hobby,master,books;someone;other_online_resources,technical_documentation;blogs;programming_game...,NaN,14,5,data_scientist_or_machine_learning_specialist;...,20 to 99 employees,united_kingdom_of_great_britain_and_northern_i...,GBP,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,multiple_day,25-34 years old,man,no,bisexual,white,none,emotional;anxiety,NaN,NaN,NaN,NaN,NaN,10.601747,14.0,5.0
1,1,3,4,dev,employed_full_time,remote,i_dont_code_outside_of_work,bachelor,books;school,NaN,NaN,20,17,developer_full_stack,100 to 499 employees,israel,ILS,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,daily,35-44 years old,man,no,heterosexual,white,none,none,NaN,NaN,NaN,NaN,NaN,12.279472,20.0,17.0
2,2,8,9,dev,employed_full_time,hybrid,i_dont_code_outside_of_work,master,job;bootcamp,NaN,NaN,6,6,developer_back_end,I don’t know,netherlands,EUR,46000.0,Yearly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emacs;Notepad++,Emacs;Notepad++,Windows,Windows,Git,Command-line;Dedicated version control GUI app...,Confluence;Jira Work Management,Confluence;Jira Work Management,Microsoft Teams,Microsoft Teams,Very unfavorable,weekly,25-34 years old,woman,no,other,european,other,other,independent_contributor,6.0,15-30 minutes a day,Over 120 minutes a day,innersource_initiative;devops_function;microse...,10.800718,6.0,6.0
3,3,10,11,dev,employed_full_time,hybrid,i_dont_code_outside_of_work,bachelor,books;someone;other_online_resources,technical_documentation;blogs;written_tutorial...,NaN,5,2,developer_full_stack;developer_back_end,100 to 499 employees,united_kingdom_of_great_britain_and_northern_i...,GBP,48000.0,Yearly,Bash/Shell;C#;HTML/CSS;JavaScript;PowerShell;SQL,C#;Go;JavaScript,Microsoft SQL Server,Microsoft SQL Server,AWS;Microsoft Azure,Microsoft Azure,ASP.NET;ASP.NET Core ;Vue.js,ASP.NET;ASP.NET Core ;Blazor,.NET,NaN,Docker;npm;Terraform,Docker;Terraform,Rider;Visual Studio;Visual Studio Code,Rider;Visual Studio Code,Windows;Windows Subsystem for Linux (WSL),Linux-based,Git,Code editor;Command-line,Confluence,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Google Chat;Slack,Unfavorable,weekly,18-24 years old,man,no,heterosexual,european,none,none,NaN,NaN,NaN,NaN,NaN,11.007203,5.0,2.0
4,4,11,12,part_dev,employed_full_time;independent,remote,hobby;open_source;freelance,bachelor,other_online_resources,technical_documentation;blogs;written_tutorial...,NaN,12,10,engineering_manager,20 to 99 employees,united_states_of_america,USD,194400.0,Yearly,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,C++;Go;HTML/CSS;JavaScript;Lua;Rust;TypeScript,Couchbase;CouchDB;Microsoft SQL Server;MongoDB...,Elasticsearch;MongoDB;Redis;SQLite,AWS;Microsoft Azure,AWS;DigitalOcean;Firebase;Linode,ASP.NET;ASP.NET Core ;Express;Node.js;Vue.js,ASP.NET Core ;Node.js;Nuxt.js;React.js;Vue.js,.NET;Keras;NumPy;Pandas;Scikit-learn;TensorFlo...,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,Docker;Homebrew;Kubernetes,Docker;Homebrew;Kubernetes;Pulumi;Terraform,IPython/Jupyter;Neovim;Visual Studio;Visual St...,IPython/Jupyter;Neovim;Visual Studio Code,Linux-based;macOS;Windows,Linux-based;macOS,Git,Code editor;Dedicated version control GUI appl...,Confluence;Jira Work Management;Notion;Trello,Notion;Trello,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Slack,Unfavorable,daily,35-44 years old,man,no,heterosexual,white,none,emotional,people_manager,14.0,30-60 minutes a day,60-120 minutes a day,innersource_initiative;devops_function;microse...,12.177673,12.0,10.0

In [148]:
df.shape

(35720, 58)

## **EXPLORAÇÃO E TRATAMENTO DOS DADOS**

No arquivo `normalidade.ipynb`.

## **PRÉ-PROCESSAMENTO**

In [149]:
df.head(5)

,Unnamed: 0.1,Unnamed: 0,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,Country,Currency,GrossWage,WageFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessionalUse,OpSysPersonalUse,VersionControlSystem,VCInteraction,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,SOVisitFreq,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,ICorPM,WorkExp,TimeSearching,TimeAnswering,ProfessionalTech,YearlyWageInDollar,YearsCodeNumber,YearsCodeProNumber
0,0,2,3,part_dev,employed_full_time,hybrid,hobby,master,books;someone;other_online_resources,technical_documentation;blogs;programming_game...,NaN,14,5,data_scientist_or_machine_learning_specialist;...,20 to 99 employees,united_kingdom_of_great_britain_and_northern_i...,GBP,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,multiple_day,25-34 years old,man,no,bisexual,white,none,emotional;anxiety,NaN,NaN,NaN,NaN,NaN,10.601747,14.0,5.0
1,1,3,4,dev,employed_full_time,remote,i_dont_code_outside_of_work,bachelor,books;school,NaN,NaN,20,17,developer_full_stack,100 to 499 employees,israel,ILS,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,daily,35-44 years old,man,no,heterosexual,white,none,none,NaN,NaN,NaN,NaN,NaN,12.279472,20.0,17.0
2,2,8,9,dev,employed_full_time,hybrid,i_dont_code_outside_of_work,master,job;bootcamp,NaN,NaN,6,6,developer_back_end,I don’t know,netherlands,EUR,46000.0,Yearly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emacs;Notepad++,Emacs;Notepad++,Windows,Windows,Git,Command-line;Dedicated version control GUI app...,Confluence;Jira Work Management,Confluence;Jira Work Management,Microsoft Teams,Microsoft Teams,Very unfavorable,weekly,25-34 years old,woman,no,other,european,other,other,independent_contributor,6.0,15-30 minutes a day,Over 120 minutes a day,innersource_initiative;devops_function;microse...,10.800718,6.0,6.0
3,3,10,11,dev,employed_full_time,hybrid,i_dont_code_outside_of_work,bachelor,books;someone;other_online_resources,technical_documentation;blogs;written_tutorial...,NaN,5,2,developer_full_stack;developer_back_end,100 to 499 employees,united_kingdom_of_great_britain_and_northern_i...,GBP,48000.0,Yearly,Bash/Shell;C#;HTML/CSS;JavaScript;PowerShell;SQL,C#;Go;JavaScript,Microsoft SQL Server,Microsoft SQL Server,AWS;Microsoft Azure,Microsoft Azure,ASP.NET;ASP.NET Core ;Vue.js,ASP.NET;ASP.NET Core ;Blazor,.NET,NaN,Docker;npm;Terraform,Docker;Terraform,Rider;Visual Studio;Visual Studio Code,Rider;Visual Studio Code,Windows;Windows Subsystem for Linux (WSL),Linux-based,Git,Code editor;Command-line,Confluence,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Google Chat;Slack,Unfavorable,weekly,18-24 years old,man,no,heterosexual,european,none,none,NaN,NaN,NaN,NaN,NaN,11.007203,5.0,2.0
4,4,11,12,part_dev,employed_full_time;independent,remote,hobby;open_source;freelance,bachelor,other_online_resources,technical_documentation;blogs;written_tutorial...,NaN,12,10,engineering_manager,20 to 99 employees,united_states_of_america,USD,194400.0,Yearly,C#;HTML/CSS;JavaScript;PowerShell;Python;Rust;SQL,C++;Go;HTML/CSS;JavaScript;Lua;Rust;TypeScript,Couchbase;CouchDB;Microsoft SQL Server;MongoDB...,Elasticsearch;MongoDB;Redis;SQLite,AWS;Microsoft Azure,AWS;DigitalOcean;Firebase;Linode,ASP.NET;ASP.NET Core ;Express;Node.js;Vue.js,ASP.NET Core ;Node.js;Nuxt.js;React.js;Vue.js,.NET;Keras;NumPy;Pandas;Scikit-learn;TensorFlo...,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,Docker;Homebrew;Kubernetes,Docker;Homebrew;Kubernetes;Pulumi;Terraform,IPython/Jupyter;Neovim;Visual Studio;Visual St...,IPython/Jupyter;Neovim;Visual Studio Code,Linux-based;macOS;Windows,Linux-based;macOS,Git,Code editor;Dedicated version control GUI appl...,Confluence;Jira Work Management;Notion;Trello,Notion;Trello,Cisco Webex Teams;Google Chat;Microsoft Teams;...,Slack,Unfavorable,daily,35-44 years old,man,no,heterosexual,white,none,emotional,people_manager,14.0,30-60 minutes a day,60-120 minutes a day,innersource_initiative;devops_function;microse...,12.177673,12.0,10.0

### Selecionar as colunas que vamos utilizar

In [150]:
df2 = df[['EdLevel', 'Country', 'Currency', 'YearsCodeNumber', 'YearsCodeProNumber', 'YearlyWageInDollar']].copy()

In [151]:
df2.head()

,EdLevel,Country,Currency,YearsCodeNumber,YearsCodeProNumber,YearlyWageInDollar
0,master,united_kingdom_of_great_britain_and_northern_i...,GBP,14.0,5.0,10.601747
1,bachelor,israel,ILS,20.0,17.0,12.279472
2,master,netherlands,EUR,6.0,6.0,10.800718
3,bachelor,united_kingdom_of_great_britain_and_northern_i...,GBP,5.0,2.0,11.007203
4,bachelor,united_states_of_america,USD,12.0,10.0,12.177673

In [152]:
df3 = df2.copy()

### Limpando EdLevel

In [153]:
df3.shape

(35720, 6)

In [154]:
df3 = df3[(df3['EdLevel'].notna()) & (df3['EdLevel'] != 'other')]

In [155]:
df3.shape

(35388, 6)

### Filtrando principais países

Aqui filtramos pelos 12 países mais frequentes, para evitar termos que lidar com grandes volumes de colunas na conversão para numéricos

In [156]:
# get top 12 most frequent names
n = 12
array_countries = df3['Country'].value_counts()[:n].index.tolist()
array_countries

['united_states_of_america',
 'germany',
 'united_kingdom_of_great_britain_and_northern_ireland',
 'india',
 'canada',
 'france',
 'brazil',
 'spain',
 'poland',
 'netherlands',
 'italy',
 'australia']

In [157]:
df3.shape

(35388, 6)

In [158]:
df3 = df3.loc[df['Country'].isin(array_countries)]

In [159]:
df3.shape

(23265, 6)

### Resetando index

In [160]:
df3

,EdLevel,Country,Currency,YearsCodeNumber,YearsCodeProNumber,YearlyWageInDollar
0,master,united_kingdom_of_great_britain_and_northern_i...,GBP,14.0,5.0,10.601747
2,master,netherlands,EUR,6.0,6.0,10.800718
3,bachelor,united_kingdom_of_great_britain_and_northern_i...,GBP,5.0,2.0,11.007203
4,bachelor,united_states_of_america,USD,12.0,10.0,12.177673
5,bachelor,united_states_of_america,USD,12.0,5.0,11.082143
...,...,...,...,...,...,...
35714,associate,germany,EUR,7.0,2.0,10.622741
35715,bachelor,united_states_of_america,USD,21.0,16.0,11.652687
35717,bachelor,united_states_of_america,USD,5.0,1.0,11.156251
35718,bachelor,spain,EUR,6.0,2.0,10.468574
35719,master,united_kingdom_of_great_britain_and_northern_i...,GBP,10.0,3.0,11.230350

In [161]:
df3.reset_index(inplace=True, drop=True)
df3

,EdLevel,Country,Currency,YearsCodeNumber,YearsCodeProNumber,YearlyWageInDollar
0,master,united_kingdom_of_great_britain_and_northern_i...,GBP,14.0,5.0,10.601747
1,master,netherlands,EUR,6.0,6.0,10.800718
2,bachelor,united_kingdom_of_great_britain_and_northern_i...,GBP,5.0,2.0,11.007203
3,bachelor,united_states_of_america,USD,12.0,10.0,12.177673
4,bachelor,united_states_of_america,USD,12.0,5.0,11.082143
...,...,...,...,...,...,...
23260,associate,germany,EUR,7.0,2.0,10.622741
23261,bachelor,united_states_of_america,USD,21.0,16.0,11.652687
23262,bachelor,united_states_of_america,USD,5.0,1.0,11.156251
23263,bachelor,spain,EUR,6.0,2.0,10.468574
23264,master,united_kingdom_of_great_britain_and_northern_i...,GBP,10.0,3.0,11.230350

### Transformar variáveis categóricas em números

In [162]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [163]:
encoder = OneHotEncoder()
oneHotEncoder = encoder.fit_transform(df3[['EdLevel', 'Country', 'Currency']])

In [164]:
oneHotEncoder.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.],
        ...,
        [0., 1., 0., ..., 0., 1., 0.],
        [0., 1., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [165]:
oneHotEncoder.shape

(23265, 47)

In [166]:
nome_colunas = encoder.get_feature_names(['EdLevel', 'Country', 'Currency'])
df4_encoder = pd.DataFrame(oneHotEncoder.todense(), columns= nome_colunas)
df4_encoder

,EdLevel_associate,EdLevel_bachelor,EdLevel_doctor,EdLevel_high_school,EdLevel_master,EdLevel_primary_school,EdLevel_professional,EdLevel_unfinished_college,Country_australia,Country_brazil,Country_canada,Country_france,Country_germany,Country_india,Country_italy,Country_netherlands,Country_poland,Country_spain,Country_united_kingdom_of_great_britain_and_northern_ireland,Country_united_states_of_america,Currency_AED,Currency_AUD,Currency_AZN,Currency_BDT,Currency_BRL,Currency_CAD,Currency_CHF,Currency_CZK,Currency_DJF,Currency_EUR,Currency_GBP,Currency_GIP,Currency_IDR,Currency_IMP,Currency_INR,Currency_IRR,Currency_JPY,Currency_KYD,Currency_MAD,Currency_NOK,Currency_NZD,Currency_PLN,Currency_SAR,Currency_TND,Currency_UGX,Currency_USD,Currency_XPF
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23260,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23261,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23262,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23263,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23264,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [167]:
df4 = pd.concat([df3, df4_encoder], axis=1).drop(['EdLevel', 'Country', 'Currency'], axis=1)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23265 entries, 0 to 23264
Data columns (total 50 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   YearsCodeNumber                                               23265 non-null  float64
 1   YearsCodeProNumber                                            23265 non-null  float64
 2   YearlyWageInDollar                                            23265 non-null  float64
 3   EdLevel_associate                                             23265 non-null  float64
 4   EdLevel_bachelor                                              23265 non-null  float64
 5   EdLevel_doctor                                                23265 non-null  float64
 6   EdLevel_high_school                                           23265 non-null  float64
 7   EdLevel_master                                                23265 non-null  float64
 8   EdLevel_primary_school                                        23265 non-null  float64
 9   EdLevel_professional                                          23265 non-null  float64
 10  EdLevel_unfinished_college                                    23265 non-null  float64
 11  Country_australia                                             23265 non-null  float64
 12  Country_brazil                                                23265 non-null  float64
 13  Country_canada                                                23265 non-null  float64
 14  Country_france                                                23265 non-null  float64
 15  Country_germany                                               23265 non-null  float64
 16  Country_india                                                 23265 non-null  float64
 17  Country_italy                                                 23265 non-null  float64
 18  Country_netherlands                                           23265 non-null  float64
 19  Country_poland                                                23265 non-null  float64
 20  Country_spain                                                 23265 non-null  float64
 21  Country_united_kingdom_of_great_britain_and_northern_ireland  23265 non-null  float64
 22  Country_united_states_of_america                              23265 non-null  float64
 23  Currency_AED                                                  23265 non-null  float64
 24  Currency_AUD                                                  23265 non-null  float64
 25  Currency_AZN                                                  23265 non-null  float64
 26  Currency_BDT                                                  23265 non-null  float64
 27  Currency_BRL                                                  23265 non-null  float64
 28  Currency_CAD                                                  23265 non-null  float64
 29  Currency_CHF                                                  23265 non-null  float64
 30  Currency_CZK                                                  23265 non-null  float64
 31  Currency_DJF                                                  23265 non-null  float64
 32  Currency_EUR                                                  23265 non-null  float64
 33  Currency_GBP                                                  23265 non-null  float64
 34  Currency_GIP                                                  23265 non-null  float64
 35  Currency_IDR                                                  23265 non-null  float64
 36  Currency_IMP                                                  23265 non-null  float64
 37  Currency_INR                                                  23265 non-null  float64
 38  Currency_IRR                                                  23265 non-null  float64
 39  Currency_JPY                                                  23265 non-null  float64
 40  Currency_KYD                                                  23265 non-null  float64
 41  Currency_MAD                                                  23265 non-null  float64
 42  Currency_NOK                                                  23265 non-null  float64
 43  Currency_NZD                                                  23265 non-null  float64
 44  Currency_PLN                                                  23265 non-null  float64
 45  Currency_SAR                                                  23265 non-null  float64
 46  Currency_TND                                                  23265 non-null  float64
 47  Currency_UGX                                                  23265 non-null  float64
 48  Currency_USD                                                  23265 non-null  float64
 49  Currency_XPF                                                  23265 non-null  float64
dtypes: float64(50)
memory usage: 8.9 MB

### Reordenando colunas

In [168]:
list(df4.columns.values)

['YearsCodeNumber',
 'YearsCodeProNumber',
 'YearlyWageInDollar',
 'EdLevel_associate',
 'EdLevel_bachelor',
 'EdLevel_doctor',
 'EdLevel_high_school',
 'EdLevel_master',
 'EdLevel_primary_school',
 'EdLevel_professional',
 'EdLevel_unfinished_college',
 'Country_australia',
 'Country_brazil',
 'Country_canada',
 'Country_france',
 'Country_germany',
 'Country_india',
 'Country_italy',
 'Country_netherlands',
 'Country_poland',
 'Country_spain',
 'Country_united_kingdom_of_great_britain_and_northern_ireland',
 'Country_united_states_of_america',
 'Currency_AED',
 'Currency_AUD',
 'Currency_AZN',
 'Currency_BDT',
 'Currency_BRL',
 'Currency_CAD',
 'Currency_CHF',
 'Currency_CZK',
 'Currency_DJF',
 'Currency_EUR',
 'Currency_GBP',
 'Currency_GIP',
 'Currency_IDR',
 'Currency_IMP',
 'Currency_INR',
 'Currency_IRR',
 'Currency_JPY',
 'Currency_KYD',
 'Currency_MAD',
 'Currency_NOK',
 'Currency_NZD',
 'Currency_PLN',
 'Currency_SAR',
 'Currency_TND',
 'Currency_UGX',
 'Currency_USD',
 'Currency_XPF']

In [169]:
df4.insert(0, 'YearlyWageInDollar', df4.pop('YearlyWageInDollar'))

In [170]:
list(df4.columns.values)

['YearlyWageInDollar',
 'YearsCodeNumber',
 'YearsCodeProNumber',
 'EdLevel_associate',
 'EdLevel_bachelor',
 'EdLevel_doctor',
 'EdLevel_high_school',
 'EdLevel_master',
 'EdLevel_primary_school',
 'EdLevel_professional',
 'EdLevel_unfinished_college',
 'Country_australia',
 'Country_brazil',
 'Country_canada',
 'Country_france',
 'Country_germany',
 'Country_india',
 'Country_italy',
 'Country_netherlands',
 'Country_poland',
 'Country_spain',
 'Country_united_kingdom_of_great_britain_and_northern_ireland',
 'Country_united_states_of_america',
 'Currency_AED',
 'Currency_AUD',
 'Currency_AZN',
 'Currency_BDT',
 'Currency_BRL',
 'Currency_CAD',
 'Currency_CHF',
 'Currency_CZK',
 'Currency_DJF',
 'Currency_EUR',
 'Currency_GBP',
 'Currency_GIP',
 'Currency_IDR',
 'Currency_IMP',
 'Currency_INR',
 'Currency_IRR',
 'Currency_JPY',
 'Currency_KYD',
 'Currency_MAD',
 'Currency_NOK',
 'Currency_NZD',
 'Currency_PLN',
 'Currency_SAR',
 'Currency_TND',
 'Currency_UGX',
 'Currency_USD',
 'Currency_XPF']

### Exportando dataframe

In [171]:
df4.to_csv('survey_results_salary_numeric.csv', sep=',', encoding='utf-8')